
header {
    text-align: center;
    padding: 20px;
    background-color: #fff4e6;
    border-bottom: 2px solid #e0a96d;
}

header h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: #cc5500;
}

header .banner {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}